* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    /* justify-content: center; */
}

.container {
    max-width: 1278px;
    min-height: 1583px;
    position: relative;
    margin: 0 auto;

    display: grid;
    grid-template-rows:
        38px     
        123px    
        59px     
        434px   
        928px;   

    grid-template-columns: 266px 208px 453px 325px;

    grid-template-areas:
        "one one one one"
        "two six six six"
        "three three three three"
        "four four seven eight"
        "five five five eight";
}

.bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* object-fit: fill; */
}

.overlay {
    z-index: 1;
    opacity: 0.5;
}

.base {
    z-index: 0;
}

.container > div {
    position: relative;
    z-index: 2;
    border: 2px dashed purple;
}

/* GRID AREAS */
.box1 { grid-area: one; }
.box2 { grid-area: two; }
.box3 { grid-area: three; }
.box4 { grid-area: four; }
.box5 { grid-area: five; }
.box6 { grid-area: six; }
.box7 { grid-area: seven; }
.box8 { grid-area: eight; }


/* .box3 .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #007bb6;
    padding: 0 15px;
}

/* Список меню */
/* .box3 .menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.box3 .menu-list li {
    height: 100%;
    display: flex;
    align-items: center;
}

.box3 .menu-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px; 
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    font-weight: normal;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.3px; 
}

.box3 .menu-list a:hover {
    color: #e7e7e7;
}

.box3 .menu-list a b {
    font-weight: 600;
}

.box3 .search-box {
    width: 300px;
}

.box3 .search-form {
    display: flex;
    height: 36px;
}

.box3 .search-form input {
    flex-grow: 1;
    border: none;
    border-right: none;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
}

.box3 .search-form button {
    background-color: #f5f5f5;
    border: none;
    color: #999999;
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}  */
