* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url(https://cdn.imgchest.com/files/g4z9cwlpm72.png); */
    background-repeat: no-repeat;
    max-width: 1278px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: 1;
    color: purple;
    position: relative;
    margin: 0 auto;
}

.container > * {
    border: 2px dashed purple;
}

.container {
    display: grid;
    grid-template-rows:
        38px     
        120px    
        62px     
        428px   
        915px;   

    grid-template-columns: 270px 212px 463px 335px;

    grid-template-areas:
        "one one one one"
        "two six six six"
        "three three three three"
        "four four seven eight"
        "five five five eight";
}

/* GRID AREAS */
.box1 { grid-area: one; }
.box2 { grid-area: two; }
.box3 { 
    grid-area: three; 
    border: none !important;
    padding: 0;
}
.box4 { grid-area: four; }
.box5 { grid-area: five; }
.box6 { grid-area: six; }
.box7 { grid-area: seven; }
.box8 { grid-area: eight; }


.box3 .main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #007bb6;
    padding: 0 15px;
}

/* Список меню */
.box3 .menu-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.box3 .menu-list li {
    height: 100%;
    display: flex;
    align-items: center;
}

.box3 .menu-list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px; 
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    font-weight: normal;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 0.3px; 
}

.box3 .menu-list a:hover {
    color: #e7e7e7;
}

.box3 .menu-list a b {
    font-weight: 600;
}

.box3 .search-box {
    width: 300px;
}

.box3 .search-form {
    display: flex;
    height: 36px;
}

.box3 .search-form input {
    flex-grow: 1;
    border: none;
    border-right: none;
    padding: 8px 12px;
    font-size: 14px;
    outline: none;
}

.box3 .search-form button {
    background-color: #f5f5f5;
    border: none;
    color: #999999;
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}