* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: tahoma;
}


.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container > * {
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid firebrick;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.image {
  height: 200px;
  background-size: cover;
  background-position: center;
}
.box1 .image { background-image: url("https://unsplash.it/300/200?1"); }
.box2 .image { background-image: url("https://unsplash.it/300/200?2"); }
.box3 .image { background-image: url("https://unsplash.it/300/200?3"); }
.box4 .image { background-image: url("https://unsplash.it/500/200?4"); }
.box5 .image { background-image: url("https://unsplash.it/800/200?5"); }


.info {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 1rem;
}

/* Box-specific vertical & horizontal alignment */
.box1 > .info { justify-content: space-evenly; align-items: center; }
.box2 > .info { justify-content: space-between; align-items: flex-start; }
.box3 > .info { justify-content: center; align-items: flex-end; }
.box4 > .info { justify-content: space-around; align-items: flex-start; }
.box5 > .info { justify-content: flex-end; align-items: center; }


ul {
  display: flex;
  list-style: none;
  color: pink;
  padding: 0;
  gap: 0.5rem;
  flex-wrap: wrap;
}


.box1 ul { justify-content: center; }
.box2 ul { justify-content: space-around; }
.box3 ul { justify-content: flex-end; }
.box4 ul { justify-content: space-evenly; }
.box5 ul { justify-content: space-between; }


.box2 ul > * {
  flex-grow: 1;
}


button {
  background: firebrick;
  color: white;
  padding: 0.5rem;
  border: none;
  width: 100%;
}